<% content_for :title do %>About<% end %>
<h3>About Foodidley Dingernugget</h3>
<p>He wants to be the dude.  He left Lefthandsville for Gurpenschlong in 1911.</p>
<p>His favorit quotation might be:</p>
<p>Want me to punch-a-size your face, for free?</p>
-Farva, 2001